# CONCOURSE
.credentials.yml

# VSCODE
.vscode/ 

# GO
coverage.out

# macOS
.DS_Store

# DREAMWAVER
dwsync.xml
_notes/

# jeffs_tiny_url_container
sql_pw-ignore.php

# SFTP VS CODE EXTENTION
sftp.json
