@charset "utf-8";
/* CONTAINERS.CSS */

/* ####################### HEADER WRAPPER ################ */

#header_wrapper h1 {
    color: #0048af;
}

/* ####################### NAV CONTAINER ################ */

.nav_client_type {
    padding-bottom: 3px;
    font-size: 18px;
    font-weight: bold;
}

.nav_client_bold {
    font-weight: 900;
}

/* ####################### CONTAINER HEADER CONTAINER ### */

.container_header_container {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #3f7cd3;
}

.container_header_container p {
    margin-bottom: .8em;
    color: #FFFFFF;
}

.container_header_container h2 {
    color: #FFFFFF;
}

.container_header_container a:link, .container_header_container a:visited  {
    color: #9ebcff;
}

.container_header_container a:hover, .container_header_container a:active  {
    color: #001074;
}
