@charset "utf-8";
/* CONTAINERS.CSS */

/* ####################### HEADER WRAPPER ################ */

#header_wrapper h1 {
    color: #0048af;
}

/* ####################### CONTAINER HEADER CONTAINER ### */

/* #container_button {
    color: #F2D1D1;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    margin-top: 7px;
    background-color: #D76A6C;
    width: 65px;
} */

.container_header_container {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #3f7cd3;
}

.container_header_container p {
    margin-bottom: .8em;
    color: #FFFFFF;
}

.container_header_container h2 {
    color: #FFFFFF;
}

.container_header_container a:link, .container_header_container a:visited  {
    color: #9ebcff;
}

.container_header_container a:hover, .container_header_container a:active  {
    color: #001074;
}
