/* ####################### VIDEO CONTAINER ######################### */

/* FOR ALL DYNAMIC CONTAINERS *************/

.video_container {
	text-align: center;		/* Center it */
	overflow: hidden;
}
	
.video_items_container {
	position: relative;		
	left: 50%;
}

.video_item_top { /* NOT USED */
	display: inline-block;	
	vertical-align: top;
	position: relative;		
	left: -50%;
}
	
/* MUST USE MIDDLE BY ITSELF */	
.video_item_middle {
	display: inline-block;	
	vertical-align: middle;
	position: relative;	
	left: -50%;
}

.video_item_bottom { /* NOT USED */
	display: inline-block;	
	vertical-align: bottom;
	position: relative;		
	left: -50%;
}

/* ####################### FOO VIDEO CONTAINER ##################### */
	
/* VIDEO CONTAINER ****************/

#foo_video_container {
}

/* ALL ITEMS *********************/

.foo_video_item {
	width: 80%;
}

/* SPECIFIC ITEMS *****************/

/* Defines Height */
#foo_video_player {
	width:100%;
	position:relative;
	height:96%; 
	padding-top:2%;
	padding-bottom:2%;
	width:96%; 
	padding-left:2%;
	padding-right:2%;
	z-index:2;
}

#foo_video_background {
	width: 100%;
	height: 100%;
	position:absolute;
	top: 0px;
	left: 0px;
	background-image: url(../images/video_container/trailer_background_glow.png); 
	background-size:100% 100%;
	opacity:0.2;
}


/* ####################### BAR VIDEO CONTAINER ##################### */

/* VIDEO CONTAINER ****************/

#bar_video_container {
	background-color: #000;
}

/* ALL ITEMS *********************/

.bar_video_item {
	width: 80%;
}

/* SPECIFIC ITEMS *****************/

/* Defines Height */
#bar_video_player {
	width:100%;
	position:relative;
	height:96%; 
	padding-top:2%;
	padding-bottom:2%;
	width:96%; 
	padding-left:2%;
	padding-right:2%;
	z-index:2;
}

#bar_video_background {
	width: 100%;
	height: 100%;
	position:absolute;
	top: 0px;
	left: 0px;
	background-image: url(../images/video_container/trailer_background_glow.png); 
	background-size:100% 100%;
	opacity:0.2;
}