@charset "utf-8";
/* VIDEO_CONTAINER.CSS */

/* #################### WRAPPER AND HEADER ########################### */

#video_container_wrapper {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}

.example_header_container {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #3f7cd3;
}

.example_header_container h3 {
    margin-bottom: 5px;
    color: #FFFFFF;
}

.example_header_container p {
    margin-bottom: 5px;
    color: #FFFFFF;
}

/* ####################### FOR ALL DYNAMIC CONTAINERS ############## */

.video_container {
    text-align: center; /* Center it */
    overflow: hidden;
}

.video_items_container {
    position: relative;
    left: 50%;
}

.video_item_top { /* NOT USED */
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: -50%;
}

/* MUST USE MIDDLE BY ITSELF */
.video_item_middle {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: -50%;
}

.video_item_bottom { /* NOT USED */
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    left: -50%;
}

/* ####################### VIMEO VIDEO CONTAINER ##################### */

/* VIDEO CONTAINER ****************/

#vimeo_video_container {
}

/* ALL ITEMS *********************/

.vimeo_video_item {
    width: 80%;
}

/* SPECIFIC ITEMS *****************/

/* Defines Height */
#vimeo_video_player {
    width:100%;
    position:relative;
    height:96%;
    padding-top:2%;
    padding-bottom:2%;
    width:96%;
    padding-left:2%;
    padding-right:2%;
    z-index:2;
}

#vimeo_video_background {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0px;
    left: 0px;
    background-image: url(../images/trailer_background_glow.png);
    background-size:100% 100%;
    opacity:0.2;
}

/* ####################### YOUTUBE VIDEO CONTAINER ################# */

/* VIDEO CONTAINER ****************/

#youtube_video_container {
    background-color: #000;
}

/* ALL ITEMS *********************/

.youtube_video_item {
    width: 80%;
}

/* SPECIFIC ITEMS *****************/

/* Defines Height */
#youtube_video_player {
    width:100%;
    position:relative;
    height:96%;
    padding-top:2%;
    padding-bottom:2%;
    width:96%;
    padding-left:2%;
    padding-right:2%;
    z-index:2;
}

#youtube_video_background {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0px;
    left: 0px;
    background-image: url(../images/trailer_background_glow.png);
    background-size:100% 100%;
    opacity:0.2;
}