@charset "utf-8";
/* SOCIAL_MEDIA_BAR_CONTAINER.CSS */

/* ####################### FOR ALL DYNAMIC CONTAINERS ############# */

.social_media_bar_container {
    text-align: center;     /* Center it */
    overflow: hidden;
}

.social_media_bar_items_container {
    position: relative;
    left: 50%;
}

/* MUST USE MIDDLE BY ITSELF */
.social_media_bar_item_middle {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: -50%;
}

/* --------------------------- */
.social_media_link_normal {
}

.social_media_link_over {
    position:absolute;
    height:30px;
    top:-30px;
    left:0px;
    padding-bottom:30px;
}

.social_media_link_over:hover {
    top: 0px;
    left: 0px;
}

/* --------------------------- */
.social_media_interaction {
    height:30px;
    float:right;
    text-align:center;
    font-size:12px;
    font-weight:bold;
    line-height:30px;
}

.social_media_interaction a:link {
    color:#fff;
    text-decoration: none;
}

.social_media_interaction a:visited {
    color:#fff;
    text-decoration: none;
}

.social_media_interaction a:hover {
    color: #003399;
    text-decoration: none;
}

.social_media_interaction a:active {
    color: #003399;
    text-decoration: none;
}

/* SOCIAL MEDIA BAR CONTAINER ****/

#foo_social_media_bar_container {
    width: 100%;
    background-color: #555;
}

#foo_social_media_bar_container p {
    padding: 10px;
    margin: 0;
}

#foo_social_media_bar_width {
    width: 80%;
}

/* ALL ITEMS *********************/

.foo_social_media_bar_item {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    /* padding:10px; */
}

/* SPECIFIC ITEMS *****************/

/* ####################### FACEBOOK LIKE ########################### */

/* Defines Height */
#foo_social_media_bar_item1 {
    width: 81px;
    position: relative;
    color: #009999;
    z-index: 2;
}

#foo_social_media_bar_item1_background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #555;
    opacity: 1.0;
}

.facebook_like {
    width:82px;    /* Must do this so the top doen't jump around */
}

/* ####################### FACEBOOK LINK AND SHARE ################# */

/* Defines Height */
#foo_social_media_bar_item2 {
    width: 100%;
    position: relative;
    color: #009999;
    z-index: 2;
}

#foo_social_media_bar_item2_background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #555;
    opacity: 1.0;
}

.facebook_link {
    overflow:hidden;
    position:relative;
    height:30px;
    width:30px;
    float:left;
    margin-right:5px;
}

.facebook_share {
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    text-align: center;
    float:left;
}

/* ####################### TWITTER LINK AND TWEET ################## */

/* Defines Height */
#foo_social_media_bar_item3 {
    width: 100%;
    position: relative;
    color: #009999;
    z-index: 2;
}

#foo_social_media_bar_item3_background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #555;
    opacity: 1.0;
}

.twitter_link {
    overflow:hidden;
    position:relative;
    height:30px;
    width:30px;
    float:left;
    margin-right:5px;
}

.twitter_tweet {
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    text-align: center;
    float:left;
}

/* ####################### GOOGLE LINK AND FOLLOW ################## */

/* Defines Height */
#foo_social_media_bar_item4 {
    width: 100%;
    position: relative;
    color: #009999;
    z-index: 2;
}

#foo_social_media_bar_item4_background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #555;
    opacity: 1.0;
}

.googleplus_link {
    overflow:hidden;
    position:relative;
    height:30px;
    width:30px;
    float:left;
    margin-right:5px;
}

.googleplus_follow {
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    text-align: center;
    float:left;
}

